apprentice_name=스승님의 행방
apprentice_description=티머시가 스승님을 만나게 되면 그가 작업장으로 돌아온 걸 전해달라고 부탁했습니다.
assassinquest_name=그림자의 속삭임
assassinquest_description=그림자 형상은 아쿠아폴의 거미 동굴에서 찾을 수 있는 강력한 독을 원합니다.
bakerson_name=제빵사의 아들
bakerson_description=제빵사에게 숲의 아치에서 아들을 찾아보겠다고 말했습니다.
belphyorhorn_name=벨피오르의 뿔
belphyorhorn_description=대악마 벨피오르의 뿔입니다. 이토록 강력한 물건이라면 원하는 사람이 있을 겁니다.
belphyorquest_name=임프의 복수
belphyorquest_description=대악마 벨피오르는 광신도로 가득한 장소에서 임프를 소환하길 원합니다.
belphyorscroll_name=벨피오르의 두루마리
belphyorscroll_description=벨피오르가 임프 소환에 필요한 두루마리를 주었습니다.
bigfish_name=대어
bigfish_description=세넨시아 호수에서 잡은 물고기입니다. 맛있어 보이네요.
goblinquest_name=족장의 요청
goblinquest_description=고블린을 잡아먹는 야수를 처치해 주겠다고 했습니다.
goldensheepquest_name=황금양
goldensheepquest_description=전설 속 황금양의 위치를 알아냈습니다.
goldenwool_name=황금 양털
goldenwool_description=전설 속 황금양의 털입니다. 값어치가 높은 물건입니다.
goldtrophy_name=황금 트로피
goldtrophy_description=벨카라스 투기장에서 당신이 거둔 승리를 기념하는 황금 트로피입니다.
grainsack_name=곡식 자루
grainsack_description=세넨시아 들판에서 생산된 작은 곡식 자루입니다.
hammer_name=망치와 못
hammer_description=간단한 수리를 위한 망치와 몇 개의 못입니다.
harpyegg_name=하피의 알
harpyegg_description=적당한 조건이 맞춰지기만 한다면 부화할 수도 있는 하피 알입니다.
hugeruby_name=거대한 루비
hugeruby_description=한때는 커다란 뱀 조각상의 눈이었습니다. 무척 귀중한 물건입니다.
jeweledkey_name=보석 장식 열쇠
jeweledkey_description=보석으로 장식된 작은 열쇠입니다. 무덤 안에서 찾았습니다.
keyaquarfall_name=신비한 열쇠
keyaquarfall_description=소문에 의하면 세상에서 가장 값진 보물을 여는 신비한 열쇠입니다.
keynorth_name=신비한 열쇠
keynorth_description=하얀 리본이 달린 신비한 열쇠로 얼어붙은 하수도에서 발견했습니다.
keyobelisk_name=신비한 열쇠
keyobelisk_description=당신이 발견한 신비한 열쇠입니다.
keyvelkarath_name=신비한 열쇠
keyvelkarath_description=검은 리본이 달린 신비한 열쇠로 검은 대장간에서 발견했습니다.
largeemerald_name=커다란 에메랄드
largeemerald_description=비밀 구획에서 발견한 에메랄드입니다. 매우 귀중합니다.
lorequest_name=고대의 지식
lorequest_description=한 노움이 자신의 발명품을 하늘에 띄우는 데 도움이 되는 고대 서적을 찾아달라고 부탁했습니다.
magicsapphyre_name=마법의 사파이어
magicsapphyre_description=고갈된 마법의 사파이어입니다. 그럼에도 매우 귀중합니다.
magictorch_name=마법 횃불
magictorch_description=얼음을 녹이거나 얼어붙지 않게 하기 위해 사용하는 마법 횃불입니다.
merchantcard_name=상인 카드
merchantcard_description=다양한 상점에서 할인을 받을 수 있는 상인 VIP 카드입니다.
minstrelquest_name=멋진 악기
minstrelquest_description=구스타브는 새로운 류트가 필요하지만, 특별한 류트여야만 합니다. 그가 원하는 악기는 어느 엘프 저택에 있죠.
moonstone_name=월석
moonstone_description=세넨시아 숲에서 드라이어드 장로한테서 훔친 반짝이는 돌입니다.
mosquitoegg_name=모기알
mosquitoegg_description=적당한 조건이 맞춰지기만 한다면 부화할 수도 있는 모기알입니다.
naganotes_name=나가에 관한 기록
naganotes_description=악어인간 마을에서 발견했습니다. 나가 룬의 해독 방법을 설명합니다.
emerald_name=에메랄드
emerald_description=채석장에서 캔 에메랄드입니다.
gemstone_name=보석
gemstone_description=채석장에서 캔 평범한 보석입니다.
map1_name=흥미로워 보이는 폐허
map1_description=상부 유적 어딘가, 흥미로워 보이는 폐허로 이어지는 지도를 가지고 있습니다.
map2_name=흥미로워 보이는 폐허
map2_description=상부 유적 어딘가, 흥미로워 보이는 폐허로 이어지는 지도를 가지고 있습니다.
map3_name=흥미로워 보이는 폐허
map3_description=상부 유적 어딘가, 흥미로워 보이는 폐허로 이어지는 지도를 가지고 있습니다.
mayonnaise_name=이상한 마요네즈
mayonnaise_description=상부 유적 어딘가에서 진행하는 요리 경연에 필요한 특별 재료입니다.
monsteregg_name=몬스터 알
monsteregg_description=소녀에게 받은 몬스터 알입니다.
monsteregg2_name=몬스터 알
monsteregg2_description=상부 유적 어딘가에서 진행하는 요리 경연에 필요한 특별 재료입니다.
monstertrainer_name=배시에게 알 배달
monstertrainer_description=소녀가 상부 유적 어딘가에 있는 배시에게 이 알을 전해달라고 부탁했습니다.
obsidian_name=흑요석 주괴
obsidian_description=채석장에서 만든 흑요석 주괴입니다.
ruby_name=루비
ruby_description=채석장에서 캔 루비입니다.
sackofgrain_name=곡식 자루
sackofgrain_description=상부 유적 어딘가에서 진행하는 요리 경연에 필요한 특별 재료입니다.
smallmap_name=특별한 지도
smallmap_description=상부 유적 어딘가, 흥미로워 보이는 폐허로 이어지는 지도입니다.
smalltreasuremap_name=보물 지도
smalltreasuremap_description=상부 유적 어딘가로 이어지는 보물 지도입니다.
thecook_name=요리 경연
thecook_description=상부 유적 어딘가에서 진행되는 요리 경연에 참여해 쥐인간을 돕기로 했습니다.
thecourier_name=책임 배송
thecourier_description=상부 유적 어딘가에 있는 모험가에게 무거운 짐을 전달하세요.
treasuremapquest_name=보물찾기
treasuremapquest_description=상부 유적 어딘가에 숨겨진 보물로 이어지는 지도를 가지고 있습니다.
obsidianingots_name=흑요석 주괴
obsidianingots_description=벨카라스에서 가로챈 화물에서 얻은 주괴입니다.
oldjournal_name=낡은 일지
oldjournal_description=동굴에서 발견했습니다. 행복한 올빼미 여관에는 임자를 아는 사람이 있을지도 모릅니다.
oldnotes_name=낡은 쪽지
oldnotes_description=호수의 상자 안에서 발견했습니다. 그중 하나는 나무의 스케치입니다.
oldrope_name=낡은 밧줄
oldrope_description=집을 다시 짓는 데 사용했던 유용한 밧줄입니다.
pigcaptured_name=사로잡힌 돼지
pigcaptured_description=지하실 앞문에 묶은 돼지인간입니다.
pigcapturedcocoon_name=사로잡힌 돼지
pigcapturedcocoon_description=지하실 앞문에 묶은 돼지인간입니다.
piratecoin_name=해적의 동전
piratecoin_description=해골과 뼈 십자가를 새겨넣은 동전으로 누군가를 거미로부터 구해준 대가로 받았습니다.
priestquest_name=겁에 질린 돼지인간
priestquest_description=도적 야영지의 요거를 처리하겠다고 사제에게 약속했습니다.
prophetquest_name=츠네모를 찾아서
prophetquest_description=츠네모의 상선을 찾아서, 츠네모에게 물품을 전달하세요.
pyromancerquest_name=떠돌이 마법사
pyromancerquest_description=노인에게 벨카라스의 광신도 본거지에서 화염 지팡이를 가져오겠다고 말했습니다.
rabbitmeat_name=토끼 고기
rabbitmeat_description=새하얀 무리에서 살아남은 뒤에 챙겨두었던 토끼 고기 더미입니다.
rime_name=고대 항해사의 빙설
rime_description=앨버트로스를 쏘는 바닷사람에게 생긴 불행한 이야기를 담은 책입니다.
rimeoftheancienti_name=고대 항해사의 빙설 I
rimeoftheancienti_description=어부의 오두막에서 선원의 책을 회수하세요.
rimeoftheancientii_name=고대 항해사의 빙설 II
rimeoftheancientii_description=북부 항구에 있는 선원들에게 고대 항해사의 빙설을 전달하세요.
sentinelquest_name=마지막 파수꾼
sentinelquest_description=골렘을 수리할 방법을 찾으세요. 새로운 핵은 벨카라스의 검은 대장간에서 찾을 수 있습니다.
sheeplost_name=길 잃은 양
sheeplost_description=동부 농경지 근처의 주인에게 베티를 돌려줘야 합니다.
slimebait_name=슬라임 미끼
slimebait_description=도마뱀인간에게서 얻은 수제 슬라임 미끼입니다.
smalllog_name=작은 통나무
smalllog_description=작은 통나무로 어두운색을 띠며, 약간의 열을 발산합니다.
treasurehunt_name=보물찾기
treasurehunt_description=이제 보물이 숨겨진 나무의 위치를 알아냈습니다.
treasurehuntii_name=보물찾기 II
treasurehuntii_description=이 지도를 따라가면 보물을 찾을 수 있지만, 지도에 표시된 장소를 기억해 내야만 합니다.
treasuremap_name=보물 지도
treasuremap_description=보물 지도지만, 그림이 마법처럼 사라져 버렸습니다.
tsnemogem_name=보라색 보석
tsnemogem_description=츠네모가 상부 유적에서 사용하라고 준 보석입니다.
wardenquest_name=트리언트 구하기
wardenquest_description=브리는 옐머의 씨앗 하나를 당신에게 맡기며, 적합한 곳에 심어달라고 부탁했습니다.
ylmerseed_name=옐머의 씨앗
ylmerseed_description=몇 개 남지 않은 옐머의 씨앗 중 하나입니다.
/////////////////// new DLC Ulminin ///////////////////////////////////////////
brillianttopaz_name=빛나는 토파즈
brillianttopaz_description=딱정벌레 둥지에서 발견한 빛나는 토파즈입니다.
fallenquest1_name=근원 수색
fallenquest1_description=나발레아가 저주의 근원을 찾아 동쪽을 수색해달라고 부탁합니다.
fallenquest2_name=저주 풀기
fallenquest2_description=나발레아의 고향 땅을 수색하여, 저주의 근원을 정화할 수 있는 성스러운 장소를 찾으세요.
paladinquest_name=공허의 종
paladinquest_description=라이아가 고대 전장에서 은종을 세 번 울려달라고 부탁했습니다.
goblinnecklace_name=고블린 목걸이
goblinnecklace_description=죽은 고블린 순찰대에게서 찾은 목걸이입니다.
/////////////////// new DLC Uprising 1.4 ///////////////////////////////////////////
armblowtorch_name=로봇 팔
armblowtorch_description=로봇에 팔로 부착할 수 있는 기계 부품입니다.
armchargedrod_name=로봇 팔
armchargedrod_description=로봇에 팔로 부착할 수 있는 기계 부품입니다.
armcoolingengine_name=로봇 팔
armcoolingengine_description=로봇에 팔로 부착할 수 있는 기계 부품입니다.
armdisclauncher_name=로봇 팔
armdisclauncher_description=로봇에 팔로 부착할 수 있는 기계 부품입니다.
armsmallcannon_name=로봇 팔
armsmallcannon_description=로봇에 팔로 부착할 수 있는 기계 부품입니다.
robotbalanced_name=일꾼 로봇
robotbalanced_description=대장간에서 발견한 소형 일꾼 로봇으로 팔 하나가 없습니다.
robotengraved_name=일꾼 로봇
robotengraved_description=대장간에서 발견한 소형 일꾼 로봇으로 팔 하나가 없습니다.
robotheavy_name=일꾼 로봇
robotheavy_description=대장간에서 발견한 소형 일꾼 로봇으로 팔 하나가 없습니다.
robotlightweight_name=일꾼 로봇
robotlightweight_description=대장간에서 발견한 소형 일꾼 로봇으로 팔 하나가 없습니다.
robotspiked_name=일꾼 로봇
robotspiked_description=대장간에서 발견한 소형 일꾼 로봇으로 팔 하나가 없습니다.
/////////////////// new DLC Sahti Uprising 1.6 ///////////////////////////////////////////
sahtiletterofmarque_name=나포 면허장
sahtiletterofmarque_description=해군성의 위임 아래 활동을 허가하는 문서입니다.
sahtimessagebottle_name=쪽지가 담긴 병
sahtimessagebottle_description=도와줘! 거대한 페이보그 폭군! 아주 나빠!
sahtitradelicense_name=해외무역회사 거래자격증
sahtitradelicense_description=해외무역회사의 위임 아래 보물과 물품 획득을 허가하는 문서입니다.
sahtitoken_name=사흐티 토큰
sahtitoken_description=사흐티와의 동맹을 상징하는 토큰입니다.
abyssalpeal_name=심연의 진주
abyssalpeal_description=심연의 해구에서 발견한, 매우 값진 진주입니다.
sahtimyship_name=선박 방향타
sahtimyship_description=나만의 배와 선원을 책임지는 어엿한 선장입니다.
arenabadge_name=투기장 배지
arenabadge_description=투기장의 용사가 선물한 배지입니다. 벨카라스 콜로세움에서 위대한 도전에 맞설 준비가 되었음을 증명합니다.
ancientbadge_name= 고대 배지
ancientbadge_description=전설적인 광장에서 궁극의 검투사 전투에 참가하는 열쇠입니다. 참된 검투사 용사임을 상징합니다.
///// 1.6 Sunken Temple
sunkenchantedfeather_name=마법 깃든 깃털
sunkenchantedfeather_description=가라앉은 신전에서 거지가 주었던 마법 깃든 깃털입니다.
sunkenguardsfeather_name=경비병의 깃털
sunkenguardsfeather_description=시장에서 자신을 도와준 것에 대가로 경비병이 준 깃털입니다.
sunkenrubysnake_name=어린 루비 뱀
sunkenrubysnake_description=이 호기심 많은 어린 뱀은 일행을 따라다닙니다. 순전히 자기가 원하기 때문이죠!
sunkenstoneconstruct_name=돌 구조물 부품
sunkenstoneconstruct_description=생명의 불꽃을 기다리는, 거의 완성된 돌 구조물입니다.
casthakcrest_name=부서진 상자
casthakcrest_description=이 문장에서 강력한 마법의 기운이 느껴집니다.
casthakcrestcont_name=마법 상자
casthakcrestcont_description=여전히 답을 찾고 있습니다.
casthakcrestfinal_name=정체불명의 문장
casthakcrestfinal_description=미래를 이해하려면 과거에서 배워야 합니다.
